a, a:focus, a:hover,
.btn-bordered,
.experience-left h3 span,
.experience-box i,
.experience-details a,
.services-box i,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active,
.portfolio-section .controls a.mixitup-control-active,
.portfolio-section .controls a:hover,
.blog-item:hover h2 a,
.post-meta a:hover,
.testimonial-slide h6 span,
.contact-details ul li:hover i,
ul.colored li::before,
.pagination a:hover,
.pagination a.active,
.pagination a:hover i,
.pagination a.active i,
.sidebar li a:hover,
.page-not-found h1,
.comment-details a h5,
.footer a,
.footer a:hover{
	color: #d31266;
}
::-moz-selection,
::selection{
	background-color: #d31266;
}
.btn-color,
.btn-color:focus,
.btn-black:hover,
.portfolio-item::before,
.portfolio-item .overlay a:hover,
.pricing-box.populer .pricing-head,
.pricing-box.populer .pricing-head::after,
.owl-theme .owl-nav [class*="owl-"]:hover,
.statistics-section::before,
.scroll-to-top i,
.spinner::before,.spinner::after,
header .navbar-toggler,
.services-box:hover{
    background-color: #d31266;
}
.btn-color,
.btn-color:focus,
.btn-black:hover,
.portfolio-item .overlay a:hover,
.pricing-box.populer .pricing-body{
	border-color: #d31266;
}
.profile-thumb[style*="visibility: visible;"]::before{
    border-bottom: 400px solid #d31266;
}
.btn-bordered,
.portfolio-section .controls a:hover,
.portfolio-section .controls a.mixitup-control-active{
	border: 1px solid #d31266;
}
header.stick,
nav.navbar .navbar-collapse{
	background-color: rgba(211,18,102,0.9);
}
.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .dropdown.show .nav-link,
ul.breadcrumb li a,
.footer a:hover,
.footer a{
	color: #FF93C3;
}
.banner-section,
.inner-page-banner,
.banner-section.videos::before,
.banner-section.image::before{
	background-color: #d31266;
	background-image: linear-gradient(to right, #86003B , #d31266);
}
.skills-section,
.contact-details::before {
    background-color: #d31266;
}
.footer{
    background-color: #86003B;
}
